<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Direct access for existing files and directories
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Send all other requests into the public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_dir.c>
    DirectoryIndex public/index.php index.php
</IfModule>
